@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');



.work-sans-font {
    font-family: "Work Sans", serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}



/* colors */
.dark1{
color: #131313;
}
.dark2{
    color: #424242;
}
.dark3{
    color: #727272;

}
.dark4{
    color: #A1A1A1;
}
.dark5{
    color: #D0D0D0;
}
.dark6{
    color: #E7E7E7;
}
.dark7{
    color: #F3F3F3;
}
.primary-bg{
    background-color: rgba(255, 144, 14, 0.1);
}


/* Shared styles */
.display-flex{
    display: flex;

}
.text-primary{
    color: #FF900E;
}
main{
    max-width: 1440px;
    margin: 0 auto;
}
main>section{
    margin-top: 130px;
}
.section-title{
    font-size: 3rem;
    font-weight: 700;

}
/* button */
.btn1{
    background-color: #FF900E;
    color: white;
    padding: 20px 25px;
    border-radius: 8px;
    border: none;
    font-weight: 600;
    font-size: 1.25rem;
}
.big-btn{
    background-color: #FF900E;
    color: white;
    padding: 45px 42px;
    border-radius: 8px;
    border: none;
    margin-left: -92px;
    margin-top: -123px;
    
}
#year{
    font-weight: 700;
    font-size: 4rem;
}
#exp{
    font-weight: 500;
    font-size: 1.75rem;
}


/* header styles */


/* navbar related styles */
.nav-item{
    list-style: none;
    margin-right: 50px;
}
.nav-links{
    text-decoration: none;
}
.navbar{
    justify-content: space-between;
    align-items: center;
}

.navbar , .banner{
    max-width: 1440px;
    margin: 0 auto;
}
.brand{
    font-weight: 700;
    font-size: 3rem;
}
/* banner related style */
.banner-content{
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}
.banner-title{
    font-weight: 700;
    font-size: 4rem;
}
.banner-img{
    width: 100%;
}


/* team and feature related styles */
.teams{
    align-items: center;
}
.team-img-container{
    display: grid;
    grid-template-columns: repeat(2 ,1fr);
    gap: 24px;
}
.our-features{
    margin-left: 130px;
    max-width: 530px;
}
#quick{
    font-weight: 500;
    font-size: 3rem;
}
#of{
    font-size: 3rem;
    font-weight: 700;
}
#features{
    font-size: 3rem;
    font-weight: 700;
}




/* Features you will love section styles */
.features-main{
    gap: 146px;
}

#feature-section-title{
    border-left: 5px solid #FF900E;
    padding-left: 20px;
}

.feature-card{
    max-width: 586px;
    padding: 30px;
    box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.06);
    margin-bottom: 20px;
    border-radius: 8px;
    
}
.feature-card-title{
    font-weight: 600;
    font-size: 1.25rem;
}












/* facts */
.facts-container{
    
    /* display: flex; */
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    
}
.fact{
   width: 240px;
   height: 240px;
   border: 1px solid #FF900E;
   border-radius: 8px;
   justify-content: center;
   align-items: center;
   text-align: center;
   

}
.fact-number{
    font-size: 3rem;
    font-weight: 600;
    margin-top: 5px;
    margin-bottom: 10px;
}
.fact-name{
    font-size: 1.25rem;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: ;
}
.facts-description{
    max-width: 540px;
}


/* sponsor related style */
.sponsor-info{
    max-width: 540px;
    margin: 50px auto;
    text-align: center;

}
.sponsor-companies{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}
.sponsor-companies img{
    filter: grayscale(100%);
}


/* footer style */
.footer{
    margin: 130px 240px 216px 240px;
    background-color:rgba(255, 144, 14, 0.1);
    padding: 40px 410px;
    border-radius: 8px;
}

/* responsive media query */
@media screen and (max-width : 576px) {
    .navbar , .nav-links , .teams , .features-main{
        flex-direction: column;
    
    }
    .navbar{
        align-items: stretch;
    }
    .team-img-container , 
    .facts-container ,
    .sponsor-companies {
        grid-template-columns: repeat(1, 1fr);
    }
    .our-features{
        margin-left: 20px;
    }
    .facts-container , .sponsor-companies{
        justify-items: center;
        gap: 24px;
    }
    .features-img{
        width: 100%;
    }
    .big-btn{
        margin-top: 20px;
        margin-left: 35px;
    }
    .footer{
        margin: 20px 30px;
        padding: 20px 40px;
        text-align: center;
    }
   
}

/* medium size device */
@media screen and (min-width : 576px) and (max-width :992px) {
    .teams , .features-main{
        flex-direction: column;
    }
    .big-btn{
        margin-top: 20px;
        margin-left: 35px;
    }
    
    .our-features{
        margin: 50px auto;
    }
    .sponsor-companies , .facts-container{
        grid-template-columns: repeat(2, 1fr);
        gap: 50px;
        justify-items: center;
    }
    
}